.ai-button-square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 1em;
    background: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 0;
}

.ai-button-square .aura {
    position: absolute;
    inset: 0px;
    border-radius: 1em;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
    transition: transform 1.2s cubic-bezier(0.2, 4, 0.5, 0.25);
    transform: scale(1);
}

.ai-button-square:hover .aura {
    transform: scale(1.05);
}

.ai-button-square .aura::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(#ff6ec4, #7873f5, #4ade80, #22d3ee, #3b82f6, #8b5cf6, #ec4899, #ff6ec4);
    z-index: -1;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    animation: rotate 5s linear infinite;
}


.ai-button-square::after {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 0.8em;
    z-index: 0;
    background: black;
    transition: background 1s cubic-bezier(0.2, 2, 0.5, 0.25), filter 1s cubic-bezier(0.2, 3, 0.5, 0.25);
}

.ai-button-square:hover::after {
    background: rgba(0, 0, 0, 0.85);
    filter: blur(1px);
}

.ai-button-square svg {
    width: 70%;
    height: 70%;
    z-index: 1;
    position: relative;
    fill: currentColor;
    color: #dedede;
    transition: transform 0.6s cubic-bezier(0.2, 4, 0.5, 0.25);
}

.ai-button-square:hover svg {
    transform: scale(1);
    animation: pulse 3s infinite ease;
}

.ai-button-square:hover svg {
    transform: scale(1.075);
}

.ai-button-square .label {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    bottom: -3.2em;
    font-size: 0.9em;
    font-weight: 600;
    white-space: nowrap;
    color: #dedede;
    background-color: black;
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
    z-index: 3;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
    transform: translateY(-8px);
}

.ai-button-square:hover .label {
    opacity: 1;
    transform: translateY(0);
}

@keyframes rotate {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8));
    }

    90% {
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.3));
    }

    100% {
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8));
    }
}