.normal-button-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.normal-button-icon .label {
    position: absolute;
    z-index: 4;
    pointer-events: none;
    bottom: -2.2em;
    font-size: 0.9em;
    font-weight: 600;
    white-space: nowrap;
    color: #111;
    padding: 0.45em 0.9em;
    border-radius: 0.45em;
    opacity: 0;
    background: rgba(255, 255, 255, 0.95);
}

.normal-button-icon:hover .label {
    opacity: 1;
}

.normal-button-icon svg {
    width: 70%;
    height: 70%;
    z-index: 1;
    position: relative;
    fill: currentColor;
    color: rgb(0, 93, 136);
}

.normal-button-icon:hover svg {
    color: rgb(0, 140, 175);
}